.jumbotron {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background: url(img/jumbotron.jpg);
  background-size: 100% 100%;
}

#about {
  padding-top: 6rem;
  padding-bottom: 16rem;
  background: url(img/background4.jpg);
  background-size: 100% 100%;
}

#Account {
  padding-top: 6rem;
  padding-bottom: 10rem;
  background: url(img/background6.jpg);
  background-size: 100% 100%;
}

#Contact {
  padding-top: 6rem;
  padding-bottom: 5rem;
  background-color: grey;
  background-size: 100% 100%;
}

#skill {
  padding-top: 6rem;
  padding-bottom: 18rem;
  background: url(img/background7.jpg);
  background-size: 100% 100%;
}
